<div class="left col">
    <div class="left col scroll-y people">
        <h3>People <a href="#">+</a></h3>
        <ul>
            <li>
                <div class="person">
                    <h4>Allan, Sara</h4>
                    <div class="person-meta">b. ABT 1904 d. ABT 1978</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Allan, Thomas</h4>
                    <div class="person-meta">b. Mar 1908 d. 8 Oct 1989</div>
                </div>
            </li>
            <li class="active">
                <div class="person">
                    <h4>Birk, Annie</h4>
                    <div class="person-meta">b. 2 Apr 1886 d. 18 Apr 1938</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, Maxwell</h4>
                    <div class="person-meta">b. Nov 1879 d. 3 Jan 1909</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, William</h4>
                    <div class="person-meta">b. ABT 1906 d. 13 Mar 1998</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Allan, Sara</h4>
                    <div class="person-meta">b. ABT 1904 d. ABT 1978</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Allan, Thomas</h4>
                    <div class="person-meta">b. Mar 1908 d. 8 Oct 1989</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, Annie</h4>
                    <div class="person-meta">b. 2 Apr 1886 d. 18 Apr 1938</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, Maxwell</h4>
                    <div class="person-meta">b. Nov 1879 d. 3 Jan 1909</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, William</h4>
                    <div class="person-meta">b. ABT 1906 d. 13 Mar 1998</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Allan, Sara</h4>
                    <div class="person-meta">b. ABT 1904 d. ABT 1978</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Allan, Thomas</h4>
                    <div class="person-meta">b. Mar 1908 d. 8 Oct 1989</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, Annie</h4>
                    <div class="person-meta">b. 2 Apr 1886 d. 18 Apr 1938</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, Maxwell</h4>
                    <div class="person-meta">b. Nov 1879 d. 3 Jan 1909</div>
                </div>
            </li>
            <li>
                <div class="person">
                    <h4>Birk, William</h4>
                    <div class="person-meta">b. ABT 1906 d. 13 Mar 1998</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="right col scroll-y research">
        <h3>Research <a href="#">+</a></h3>
        <ul>
            <li>
                <div class="research-item">
                    <h4>Ann? B*rk?</h4>
                    <div class="research-item-meta">GenealogyBank</div>
                    <div class="research-item-meta date">02/18/2012</div>
                </div>
            </li>
            <li>
                <div class="research-item">
                    <h4>Annie Birk</h4>
                    <div class="research-item-meta">GenealogyBank</div>
                    <div class="research-item-meta date">02/18/2012</div>
                </div>
            </li>
            <li>
                <div class="research-item">
                    <h4>Ann Burk</h4>
                    <div class="research-item-meta">Cook County Genealogy</div>
                    <div class="research-item-meta date">02/16/2012</div>
                </div>
            </li>
            <li class="active">
                <div class="research-item">
                    <h4>Ann Birk</h4>
                    <div class="research-item-meta">Cook County Genealogy</div>
                    <div class="research-item-meta date">02/16/2012</div>
                </div>
            </li>
            <li>
                <div class="research-item">
                    <h4>Annie Birk</h4>
                    <div class="research-item-meta">Cook County Genealogy</div>
                    <div class="research-item-meta date">02/16/2012</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="right col scroll-y log-item">
    <div class="log-page">
        <h2>Annie Birk</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
