<p>Helping genealogists easily and intuitively keep track of their research.</p>

<ul>
    <li><em>Quickly</em> and <em>easily input</em> research items</li>
    <li><em>Associate</em> research items with a specific people</li>
    <li><em>Attach</em> image, video, and audio media to research items</li>
</ul>
